# Build output
lib/
*.tgz
dist/

# Python
__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Generated Artifacts
*.tsbuildinfo
.eslintcache

# Node / pnpm
node_modules/

# Logs
*.log

# Editor
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
